.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.list-container {
  list-style-type: none;
  border: 1px solid #cbced2;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  padding: 30px;
  max-width: 1140px;
}
.heading {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
  color: #326a9d;
}
.description-text {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  color: #64748b;
  margin-top: 24px;
  margin-bottom: 32px;
}

.show-more-button {
  font-family: 'Roboto';
  font-size: 14px;
  color: #326a9d;
  border: 2px solid #326a9d;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 8px;
}
